<!DOCTYPE html>
<html>

<head>
    <title>Todo list</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="js/home.js"></script>
</head>

<body>
    {{> menu}}
    <h1>Todo list!</h1>

    

    <table id="myTable" class="dataTable display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>UserId</th>
                            </tr>
                        </thead>
                        <!--<tfoot>
                                <tr>
                                    <th>PHYSICICAN NAME</th>
                                    <th>SPECIALTY</th>
                                    <th>CITY</th>
                                    <th>STATE</th>
                                </tr>
                            </tfoot>-->
                    </table>
    </table>
</body>

</html>